:root {
    --link-color: #333333;
    --article-background-color: #EEEEEE;
    --body-background-color: #000000;
    --header-background-color: #f1f1f1;
    /*--body-background-color: #222;*/
    /*--header-background-color: #111;*/
}
a {
    color: var(--link-color);
}
a:hover {
    text-decoration: none;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--body-background-color);
}
@keyframes fade-slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
figure {
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}
figure.inactive {
    display: none;
}
figure.active {
    opacity: 0;
    animation: fade-slide .5s ease-in forwards;
}
figure img {
    width: 100%;
}

figcaption {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
figcaption div {
    color: #f0f0f0f0;
    display: inline-block;
    background-color: rgba(25,25,25,0.5);
    border-radius: 6px;
    padding: 4px 10px 5px;
}

header {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(80,80,80,1) 0%, rgba(0,0,0,1) 100%);
}
header h1 {
    font-family: Cutive, Georgia, serif;
    font-weight: 400;
    text-shadow: 1px 2px 1px black;
    margin: 0;
    padding: .75em 0 .5em 1em;
    line-height: 1.25em;
    color: #CCCCCC;
    font-size: 1rem;
    flex-grow: 1;
}
header div a {
    color: #CCCCCC;
    font-size: 80%;
    text-transform: uppercase;
    text-decoration: none;
}
header div a:hover {
    color: #aaaaaa;
}
header div a span {
    display: none;
}

html {
    font-size: 100%;
}

/* Arrow navigation */
nav {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
}
nav a {
    display: block;
    width: 5rem;
    height: 5rem;
    z-index: 1;
}
nav a:hover {
    background-color: rgba(100,100,100,0.5);
}
nav a svg {
    margin: .75em;
}
nav a svg path.fill {
    fill: rgba(240,240,240,0.75);
}
nav a#next {
    float: right;
}
nav a#prev {
    float: left;
    display: none;
}

/* Index page */
section {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}
section article {
    background-color: var(--article-background-color);
    flex-grow: 1;
    flex-basis: 14rem;
    min-height: 8rem;
    margin: .75rem;
}
section article header {
    background-size: cover;
    padding: 0;
}
section article header a {
    padding: 30%;
    width: 100%;
    display: block;
    text-indent: -200em;
}
section article main {
    margin: .75em;
}
section article main a {
    font-weight: 700;
    font-size: 130%;
}
section article main p, section article footer {
    font-size: .875em;
}
section article main p {
    color: #666666;
    margin: .75em 0;
}
section article footer {
    color: #999999;
    font-size: 90%;
}

/* Desktop */
@media only screen and (min-width: 900px) {
    body > div {
        font-size: 100%;
    }
    figcaption {
        font-size: 1rem;
        padding: .5rem;
    }
    figure {
        text-align: center;
    }
    figure img {
        width: auto;
        height: 99%;
    }
    #gallery {
        margin: 0;
    }
    header {
        height: auto;
    }
    header h1 {
        font-size: 1.5rem;
    }
    header div {
        margin-right: 1rem;
    }
    header div a span {
        display: inline;
    }
    nav {
        overflow: hidden;
        position: absolute;
        z-index: 100;
        width: 100%;
        bottom: auto;
    }
    nav a {
        width: 2.5rem;
        height: 2.5rem;
        padding: 1.5rem .75rem;
    }
    nav a#next {
        border-radius: 10px 0 0 10px;
    }
    nav a#prev {
        border-radius: 0 10px 10px 0;
    }
    nav a svg {
        margin: 0;
    }
}