:root {
    --link-color: red;
    --light-background-color: #FFFFFF;
    --med-background-color: #CCCCCC;
    --dark-background-color: #000000;
    --light-text-color: #BBBBBB;
    --med-text-color: #999999;
    --dark-text-color: #555555;
    --accent-color: #6db0e3;
    --dark-accent-color: #4e92c2;
}
@font-face {
    font-family: "Oleo";
    src: url("../font/OleoScript-Regular.ttf");
}
@font-face {
    font-family: "Pontano";
    src: url("../font/PontanoSans-Regular.ttf");
}
a {
    color: var(--accent-color);
    text-decoration: none;
}
body {
    margin: 0;
    font-family: Pontano, Helvetica, Arial, sans-serif;
    background-color: var(--light-background-color);
}
@keyframes fade-slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
figure {
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}
figure.inactive {
    display: none;
}
figure.active {
    opacity: 0;
    animation: fade-slide .5s ease-in forwards;
}
figure img {
    width: 100%;
}

figcaption {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
figcaption div {
    color: #f0f0f0;
    display: inline-block;
    background-color: rgba(25,25,25,0.5);
    border-radius: 6px;
    padding: 4px 10px 5px;
}

header {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(80,80,80,1) 0%, rgba(0,0,0,1) 100%);
}
header h1 {
    color: var(--accent-color);
    font-family: Oleo, Georgia, serif;
    font-weight: 400;
    text-shadow: 1px 2px 1px black;
    margin: 0;
    padding: .75em 0 .5em .75em;
    line-height: 1.25em;
    font-size: .875rem;
    flex-grow: 1;
}
header div a {
    color: #CCCCCC;
    font-size: 80%;
    text-transform: uppercase;
    text-decoration: none;
}
header div a:hover {
}
header div a span {
    display: none;
}

html {
    font-size: 100%;
}

/* Arrow navigation */
nav {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
}
nav a {
    display: block;
    width: 5rem;
    height: 5rem;
    z-index: 1;
}
nav a:hover {
    background-color: rgba(100,100,100,0.5);
}
nav a svg {
    margin: .75em;
}
nav a svg path.fill {
    fill: rgba(240,240,240,0.75);
}
nav a#next {
    float: right;
}
nav a#prev {
    float: left;
    display: none;
}

/* Added classes and IDs */
#gallery-all {
    display: none;
}

/* Index page */
#gallery-index {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}
#gallery-index article {
    background-image: linear-gradient(#e1e1e1, #FFFFFF);
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 12px #d1d1d1;
    flex-grow: 1;
    flex-basis: 14rem;
    min-height: 8rem;
    margin: .75rem;
    position: relative;
}
#gallery-index article h3 {
    color: var(--dark-text-color);
    margin: .75em 0;
    text-align: center;
}
#gallery-index article header {
    background-size: cover;
    background: var(--med-background-color);
    padding: 0;
}
#gallery-index article header a {
    padding: 30%;
    width: 100%;
    display: block;
    text-indent: -200em;
}
#gallery-index article header a:hover {
    background-color: #eeeeee;
    opacity: .5;
}
#gallery-index article section {
    margin: .75em .75em 2.5em .75em ;
}
#gallery-index article section a {
    display: table;
    margin: 0 auto;
    background-color: var(--accent-color);
    color: #ffffff;
    padding: .5em 1em;
    border-radius: .5em;
    font-size: .875em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px var(--dark-accent-color);
}
#gallery-index article section a:hover {
    background-color: var(--med-background-color);
    text-shadow: none;
}
#gallery-index article section p {
    color: var(--dark-text-color);
    font-size: 1em;
    margin-top: 0;
    text-shadow: 1px 1px white;
}
#gallery-index article footer {
    display:flex;
    width:100%;
    position:absolute;
    bottom:0;
    background-color: white;
}
#gallery-index article footer p {
    color:var(--med-text-color);
    font-size:.875em;
    flex:1 1 0px;
    text-align:center;
    margin: 0;
    line-height: 2em;
    border-top:1px solid #ddd
}
#gallery-index article footer p:first-child {
    border-right: 1px solid #DDDDDD;
}

/* Desktop */
@media only screen and (min-width: 900px) {
    body > div {
        font-size: 100%;
    }
    figcaption {
        font-size: 1rem;
        padding: .5rem;
    }
    figure {
        text-align: center;
    }
    figure img {
        width: auto;
        height: 99%;
    }
    #gallery {
        margin: 0;
    }
    header {
        height: auto;
    }
    header h1 {
        font-size: 2.5rem;
    }
    header div {
        margin-right: 1rem;
    }
    header div a span {
        display: inline;
    }
    nav {
        overflow: hidden;
        position: absolute;
        z-index: 100;
        width: 100%;
        bottom: auto;
    }
    nav a {
        width: 2.5rem;
        height: 2.5rem;
        padding: 1.5rem .75rem;
    }
    nav a#next {
        border-radius: 10px 0 0 10px;
    }
    nav a#prev {
        border-radius: 0 10px 10px 0;
    }
    nav a svg {
        margin: 0;
    }
}